#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.test {
    /*border: solid 1px black;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: transparent
}